.mouse-enter {
  box-shadow: none;
}

body {
  margin: 0 auto;
  background-attachment: fixed;
  font-family: arvo;
  font-size: 20px;
  text-align: center;
}
body h1 {
  top: 8%;
  position: fixed;
  margin: 15%;
  font-size: 5vw;
  color: white;
  z-index: -1;
}
body h2 {
  padding-top: 30px;
  margin-bottom: 50px;
  font-size: 4vw;
  border-bottom: 5px solid #69397B;
  width: 75%;
  margin-left: 12.5%;
}
body #nav {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  background: #262423;
  justify-content: flex-end;
  box-shadow: 0 5px 20px black;
  height: 30px;
  width: 100%;
  padding: 20px;
  z-index: 3;
}
body #nav a {
  color: white;
  padding: 0 25px;
  max-width: 50%;
  margin-right: 50px;
  text-decoration: none;
}
body #nav a:hover {
  border-bottom: 4px solid #69397B;
}
body #about {
  margin-top: 60vw;
  background: white;
  top: 500px;
  z-index: 3;
  height: auto;
}
body #about p {
  font-size: 4vw;
  margin: 0 15%;
}
body #portfolio {
  padding: 25px 0px 50px;
  background: white;
  z-index: 3;
}
body #portfolio .flex-container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-wrap: wrap;
}
body #portfolio .flex-container .flex-item {
  box-shadow: 5px 8px 18px grey;
  text-decoration: none;
  transition: 0.3s;
  flex-grow: 1;
  flex-shrink: 1;
  width: 300px;
  margin: 15px;
  padding: 0;
  z-index: 1;
  color: black;
}
body #portfolio .flex-container .flex-item img {
  flex-grow: 1;
  height: inherit;
  width: 100%;
}
body .flex-item:hover {
  box-shadow: none;
}
body #social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 5%;
}
body #social #btns {
  padding: 65px 0 0;
  min-width: 350px;
  flex-shrink: 1;
  flex-direction: row;
}
body #social #btns a {
  min-height: 25px;
  background: white;
  border: 2px solid black;
  padding: 25px;
  border-radius: 50%;
  color: black;
  font-family: share tech mono;
}
body #social #btns a:hover {
  transition: 0.4s;
  border: 2px solid #69397B;
  color: white;
  background: #69397B;
}
body #social #contact {
  display: flex;
  flex-flow: column, wrap;
  padding-right: 10px;
  font-size: 3.0vw;
  text-align: left;
  list-style-type: none;
}
body #social #contact p {
  font-family: roboto;
  flex-wrap: wrap;
  padding: 0;
}
body footer {
  background: #262423;
  color: white;
  padding: 25px;
  margin: 0 auto;
}

.form {
  list-style: none;
  margin-top: 75px;
  margin: 0 auto;
}
.form .model {
  width: 100%;
  padding: 25px;
  text-align: center;
  width: 80%;
  min-width: 400px;
  margin: auto;
}
.form .model .title {
  font-size: 35px;
  font-family: sans-serif;
}
.form .model .user-info {
  padding-left: 15px;
  margin-left: 20px;
  font-size: 4vw;
  outline: none;
  border-style: none;
  box-shadow: 3px 3px 15px grey;
  height: 8vw;
  min-height: 50px;
  min-width: 275px;
  margin: auto;
  font-family: sans-serif;
  font-size: 4.5vw;
}
.form .model .message {
  padding: 5px;
  font-size: 4vw;
  outline: none;
  border-style: none;
  box-shadow: 3px 3px 15px grey;
  height: 20vw;
  min-height: 50px;
  min-width: 275px;
  font-family: sans-serif;
  font-size: 4.5vw;
}